body{
    background-color: antiquewhite;
}

.home{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;

    box-shadow: 5px 5px 15px black;

}

.test{
    width: 75%;
}
